body{
    background:linear-gradient(to left bottom ,lightblue,lightgreen);
    min-height: 100vh;
}
.heading{
    margin-left: 25%;
    padding: 40px;
    width: 40%;
    color: cadetblue;
    justify-content: center;
    /*text-align: center;*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bolder;
    background-color: beige;
    border-radius: 100px;
    
}

img {
    height: 200px;
    width: 200px;
    margin: 0px 10px 30px 20px;
    cursor: pointer;
    transition: transform 0.2s;
}

img:hover {
    transform: scale(1.1);
}

#bird-sound{
    position: relative;
    top: 1px;
    left: 0;
    z-index:1;
    
}